a:visited {color : #416DFF; text-decoration : none; }
a:link {color : #416DFF; text-decoration : none;}
a:hover {color : Red; text-decoration : none; background-color: #5FFF88}
a:active {color : Red; text-decoration : underline; }
.keyword { font-weight : bold ; color : Red }
.keywordsign { color : #C04600 }
.superscript { font-size : 4 }
.subscript { font-size : 4 }
.comment { color : Green }
.constructor { color : Blue }
.type { color : #5C6585 }
.string { color : Maroon }
.warning { color : Red ; font-weight : bold }
.info { margin-left : 3em; margin-right : 3em }
.code { color : #465F91 ; }
.title1 { font-size : 20pt ; background-color : #909DFF }
.title2 { font-size : 20pt ; background-color : #90BDFF }
.title3 { font-size : 20pt ; background-color : #90DDFF }
.title4 { font-size : 20pt ; background-color : #90EDFF }
.title5 { font-size : 20pt ; background-color : #90FDFF }
.title6 { font-size : 20pt ; background-color : #C0FFFF }
.typetable { border-style : hidden }
.indextable { border-style : hidden }
.paramstable { border-style : hidden ; padding: 5pt 5pt}
body { background-color : White }
tr { background-color : White }
td.typefieldcomment { background-color : #FFFFFF }
pre { margin-bottom: 4px }