build: [
  ["ocaml" "configure.ml" "--share" "%{share}%/camomile"]
  ["dune" "subst"] {pinned}
  ["dune" "build" "-p" name "-j" jobs
    "@install"
    "@runtest" {with-test}
    "@doc" {with-doc}
  ]
]
